/*ESTILO GENERAL*/
body{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
   

    
}

html{
    background-color: black;
}

h1,h2,h3,h4 {
    color: rgba(242, 187, 23, 1);
}


p{
    color: white;
}

/*HEADER*/
#menu_responsive{
    display: none;
}

header{
    background-color: rgb(148, 117, 24);
    position: sticky;
    height: 5%;
    top: 0px;
    width: 100%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 0.5rem;
}

#navbar_titulo{
    color: rgba(18, 18, 39, 1);
    text-align: center;
}

nav ul{
 
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;    
}

@media (max-width: 616px){
 

    #nabvar{
        flex-direction: column;
    }
    
    #navbar_responsive{
        flex: none
    }
  
}

@media (max-width: 332px){

    #menu_responsive{
        display: flex;
    }

    #nabvar{
        flex-direction: row;
    }

    

    nav ul{
 
        display: none;
        
    }

}

nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

li a{
    text-decoration: none;
    color: white;
}

/*MENU OCULTO*/

#menu_oculto{

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 16, 36, 0.9);
    box-sizing: border-box;
    top: 14.5%;
    display: none;
    justify-content: right;

}

#menu_oculto nav{
    width: 65%;
    background-color: black;
    box-sizing: border-box;
    
    height: 100%;
}

#menu_oculto nav ul{
    display: flex;
    flex-direction: column;
}


#menu_responsive:hover{
    cursor: pointer;
}
/*SECCION PIE*/
footer{
    background-color: black;
    
    width: 100%;
}
#contenedor_pie{
    padding: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





/*OTROS*/

.a_redireccion{
    color: rgba(242, 187, 23, 1);
}











